.navbar {
  width: 100%;
  padding: 18px 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background: rgba(8, 8, 13, 0.75);
  backdrop-filter: blur(15px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar h2 {
  margin: 0;

  font-size: 22px;

  background: linear-gradient(
    90deg,
    #8b5cf6,
    #3b82f6
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

.navbar nav {
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #d4d4d8;

  text-decoration: none;

  font-size: 14px;

  transition: 0.2s;
}

.navbar a:hover {
  color: #8b5cf6;
}

@media (max-width: 650px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar nav {
    gap: 12px;
  }

  .navbar a {
    font-size: 12px;
  }
}